.fabric-upload-container {
  font-family: 'Arial', sans-serif;
  /* text-align: center; */
  margin: 20px auto;
  padding: 20px;
  border: 2px dashed #ccc; /* Dashed border with a subtle color */
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* Soft shadow for depth */
  max-width: 400px;
  background-color: #f9f9f9; /* Light background for the container */
}

.fabric-upload-heading {
  font-size: 24px;
  color: #333; /* Dark gray for better readability */
  margin-bottom: 20px;
}

.fabric-upload-instruction {
  margin-top: 20px;
  font-size: 16px;
  color: #666; /* Medium gray for instructions */
}

input[type="file"] {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

input[type="file"] + label {
  font-size: 16px;
  font-weight: bold;
  color: white;
  background-color: #106ba3;
  display: inline-block;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

input[type="file"] + label:hover,
input[type="file"] + label:focus {
  background-color: #0e5490;
}

img {
  margin-top: 20px; /* Spacing above the image */
  max-width: 100%; /* Responsive image width */
  border-radius: 5px; /* Rounded corners for the image */
}
.upload-button {
  font-size: 16px;
  font-weight: bold;
  color: white;
  background-color: #106ba3;
  display: inline-flex;
  align-items: center; /* Center the content vertically */
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.upload-button:hover,
.upload-button:focus {
  background-color: #0e5490;
}